{% set routeName = app.request.get('_route') %}

<nav class="fr-sidemenu" role="navigation" aria-labelledby="sidemenu-title">
                    <div class="fr-sidemenu__inner">
                        <div class="fr-collapse" id="sidemenu">
                            <p class="fr-sidemenu__title" id="sidemenu-title">{{ user.fullName }}</p>
                            <ul class="fr-sidemenu__list">
                                <li class="fr-sidemenu__item">
                                    <a class="fr-sidemenu__link" href="/profile">
                                        {{'profile.title'|trans}}
                                    </a>
                                </li>
                                <li class="fr-sidemenu__item">
                                    <a class="fr-sidemenu__link" href="/profile/password">
                                        {{'profile.password.title'|trans}}
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
