body { margin: 0; padding: 0; }
html, body, #map { height: 100%; }

.map-overlay {
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    position: absolute;
    width: 20%;
    top: 0;
    left: 0;
    padding: 10px;
    margin: 10px;
    background-color: white;
}
