{% extends 'email/base.html.twig' %}
{% trans_default_domain 'emails' %}

{% block body %}
    <h1>{{ 'contact.email.user_feedback'|trans }}</h1>
    <p>{{ fullName }} {{ email }}</p>
    <p>{{ content }}</p>
{% endblock %}
