{{ form_start(form, { attr: { role: 'search' } }) }}
    <div class="fr-grid-row fr-grid-row--bottom fr-x-gap-2w">
        {{ form_row(form.identifier, {group_class: 'fr-input-group', row_attr: {class: 'fr-mb-0'}, attr: {class: 'fr-input', spellcheck: false, autocomplete: false} }) }}
        {{ form_row(form.save) }}
    </div>
{{ form_end(form) }}
