<turbo-frame id="block_regulation_order_history">
	{% if latestHistory %}
		<p class="fr-text--sm fr-x-text--mention-grey fr-mt-1v" data-testid="history">{{ ('regulation.regulation_order_history.action.' ~ latestHistory.action)|trans({'%date%': latestHistory.date|date('d/m/Y')}) }}
		</p>
	{% endif %}
</turbo-frame>
