{% if latestHistory %}
	<p class="fr-text--sm fr-x-text--mention-grey fr-mt-1v fr-mb-0" data-testid="history">{{ ('regulation.regulation_order_history.action.' ~ latestHistory.action)|trans({'%date%': latestHistory.date|date('d/m/Y')}) }}
	</p>
{% endif %}
