{% extends 'base.html.twig' %}

{% set title = 'Arrêté temporaire' %}

{% block title %}
     {{ title }} - {{ parent() }}
{% endblock %}

{% block page_class %}app-background--alt-grey{% endblock %}

{% block body %}
    {% set isDraft = regulationOrderRecord.status == 'draft' %}
    <section class="fr-container fr-py-5w" aria-labelledby="regulation-detail">
        {% include "common/breadcrumb.html.twig" with { items: [
            { title: 'regulation.breadcrumb', path: 'app_regulations_list'},
            { title: 'regulation.list.add_button'},
        ]} %}

        <div>
            <h2 id="regulation-detail">
                {{ title }}                
            </h2>

            <div class="fr-x-container--fluid">
                <div class="fr-grid-row">
                    <div class="fr-col">
                        {% include "regulation/blocks/_general_info.html.twig" with { 'canEdit': isDraft, regulationOrderRecord } only %}

                        <h3 class="fr-h4 fr-mt-5w">Localisation</h3>
                        {% include "regulation/blocks/_location.html.twig" with { 'canEdit': isDraft, regulationOrderRecord } only %}
                    </div>

                    <aside class="fr-col-3 fr-ml-3w">
                        <div class="app-card">
                            <div class="app-card__content">
                                <h3 class="fr-h4">Statut</h3>
                                {% include 'regulation/_status_badge.html.twig' with { status: regulationOrderRecord.status } %}

                                <hr class="fr-mt-2w" />

                                <h3 class="fr-h4">Actions</h3>
                                <ul class="fr-btns-group">
                                    <li>
                                        <button class="fr-btn fr-btn--secondary">Dupliquer</button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
