doctrine:
    dbal:
        default_connection: default
        connections:
            default:
                url: '%env(resolve:DATABASE_URL)%'
            bdtopo:
                url: '%env(BDTOPO_DATABASE_URL)%'
            bdtopo2025:
                url: '%env(BDTOPO_2025_DATABASE_URL)%'
            metabase:
                url: '%env(METABASE_DATABASE_URL)%'
    orm:
        default_entity_manager: default
        entity_managers:
            default:
                connection: default
                naming_strategy: doctrine.orm.naming_strategy.underscore_number_aware
                auto_mapping: true
                dql:
                    string_functions:
                        FIRST: App\Infrastructure\Persistence\Doctrine\DBAL\FirstFunction
                        # Doctrine functions for PostgreSQL
                        # https://github.com/martin-georgiev/postgresql-for-doctrine
                        PG_ILIKE: MartinGeorgiev\Doctrine\ORM\Query\AST\Functions\Ilike
                mappings:
                    Domain:
                        is_bundle: false
                        type: xml
                        dir: '%kernel.project_dir%/src/Infrastructure/Persistence/Doctrine/Mapping'
                        prefix: 'App\Domain'
                        alias: 'App\Domain'
            bdtopo:
                connection: bdtopo
            bdtopo2025:
                connection: bdtopo2025
            metabase:
                connection: metabase

when@test:
    doctrine:
        dbal:
            connections:
                default:
                    # "TEST_TOKEN" is typically set by ParaTest
                    dbname_suffix: '_test%env(default::TEST_TOKEN)%'
                metabase:
                    dbname_suffix: '_test%env(default::TEST_TOKEN)%'

when@prod:
    framework:
        cache:
            pools:
                doctrine.result_cache_pool:
                    adapter: cache.app
                doctrine.system_cache_pool:
                    adapter: cache.system
