# see https://symfony.com/doc/current/reference/configuration/framework.html
framework:
    secret: '%env(APP_SECRET)%'
    csrf_protection: true
    http_method_override: true
    trusted_proxies: '127.0.0.1,REMOTE_ADDR'
    trusted_headers: ['x-forwarded-for', 'x-forwarded-host', 'x-forwarded-proto', 'x-forwarded-port', 'x-forwarded-prefix']

    # Enables session support. Note that the session will ONLY be started if you read or write from it.
    # Remove or comment this section to explicitly disable session support.
    session:
        handler_id: '%env(REDIS_URL)%'
        cookie_secure: auto
        cookie_samesite: lax
        storage_factory_id: session.storage.factory.native

    #esi: true
    #fragments: true
    php_errors:
        log: true

    http_client:
        scoped_clients:
            api.adresse.client:
                base_uri: '%env(API_ADRESSE_BASE_URL)%'
            eudonet_paris.http.client:
                base_uri: '%env(APP_EUDONET_PARIS_BASE_URL)%'
            litteralis.wfs.http.client:
                base_uri: '%env(APP_LITTERALIS_WFS_BASE_URL)%'
            ign.geocoder.client:
                base_uri: '%env(APP_IGN_GEOCODER_BASE_URL)%'
            dialog.http.client:
                base_uri: '%env(APP_DIALOG_BASE_URL)%'
            organization_fetcher.client:
                base_uri: '%env(API_ORGANIZATION_FETCHER_URL)%'
            geo_api.client:
                base_uri: '%env(API_GEO_URL)%'
            ign.report.client:
                base_uri: '%env(API_IGN_REPORT_BASE_URL)%'
            grist.client:
                base_uri: '%env(GRIST_BASE_URL)%'
                headers:
                    Authorization: 'Bearer %env(GRIST_API_KEY)%'

when@test:
    framework:
        test: true
        session:
            storage_factory_id: session.storage.factory.mock_file
