services:
    App\Infrastructure\Persistence\Doctrine\PostGIS\Event\ORMSchemaEventSubscriber:
        tags:
            - { name: doctrine.event_subscriber, connection: default }

doctrine:
    dbal:
        schema_filter: ~^(?!tiger)(?!topology)~
        types:
            geometry:
                class: 'Jsor\Doctrine\PostGIS\Types\GeometryType'
            geojson_geometry:
                class: 'App\Infrastructure\Persistence\Doctrine\DBAL\Types\GeoJSONGeometryType'
    orm:
        dql:
            string_functions:
                ST_AsGeoJSON: 'Jsor\Doctrine\PostGIS\Functions\ST_AsGeoJSON'
                ST_ApproximateMedialAxis: 'App\Infrastructure\Persistence\Doctrine\PostGIS\Functions\ST_ApproximateMedialAxis'
