security:
    password_hashers:
        Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface: 'auto'
    providers:
        local_user:
            id: App\Infrastructure\Security\Provider\LocalPasswordUserProvider
        proconnect_user:
            id: App\Infrastructure\Security\Provider\ProConnectUserProvider
        api_client:
            id: App\Infrastructure\Security\Provider\ApiClientUserProvider
        all:
            chain:
                providers: ['local_user', 'proconnect_user']

    firewalls:
        api:
            pattern: ^/api
            stateless: true
            provider: api_client
            custom_authenticator:
                - App\Infrastructure\Security\Authenticator\ApiClientAuthenticator
        dev:
            pattern: ^/(_(profiler|wdt)|css|images|js)/
            security: false

        main:
            lazy: true
            provider: all
            user_checker: App\Infrastructure\Security\UserChecker
            custom_authenticator:
                - App\Infrastructure\Security\Authenticator\ProConnectAuthenticator
            form_login:
                login_path: app_login
                check_path: app_login
                enable_csrf: true
                username_parameter: email
                password_parameter: password
            logout:
                path: app_logout

    access_control:
        - { path: '^/api/(regulations$|organization)', roles: ROLE_API, methods: [POST, GET] }
        - { path: ^/api, roles: PUBLIC_ACCESS }
        - { path: ^/admin, roles: ROLE_SUPER_ADMIN }
        - { path: '^/regulations/([0-9a-f]{8}-[0-9a-f]{4}-[13-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12})$', methods: [GET], roles: PUBLIC_ACCESS }
        - { path: '^/regulations$', methods: [GET], roles: PUBLIC_ACCESS }
        - { path: ^/_fragment/map, roles: PUBLIC_ACCESS }
        - { path: '^/(_fragment|regulations|feedback|mon-espace)', roles: ROLE_USER }
        - { path: ^/, roles: PUBLIC_ACCESS }

    role_hierarchy:
        ROLE_SUPER_ADMIN: ROLE_USER

when@test:
    security:
        password_hashers:
            Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface:
                algorithm: "plaintext"
