
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/config/reference.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> friendsofphp/php-cs-fixer ###
/.php-cs-fixer.php
/.php-cs-fixer.cache
###< friendsofphp/php-cs-fixer ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

coverage.xml
coverage/

###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
/public/blog
/public/storage/*
!/public/storage/.gitkeep
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###
/test-results/
tests/tmp
.cursorrules
