volumes:
  database: {}

services:
  database:
    image: postgis/postgis:14-3.3-alpine
    environment:
      POSTGRES_DB: dialog
      POSTGRES_PASSWORD: dialog
      POSTGRES_USER: dialog
    ports:
      - '5432:5432'
    volumes:
      - 'database:/var/lib/postgresql/data:rw'

  php:
    build:
      context: ./docker/php
    ports:
      - '9000:9000'
      - '8080:8080'
    volumes:
      - ./:/var/www/dialog
      - ./docker/php/php.ini:/usr/local/etc/php/php.ini
    depends_on:
      - database
      - redis

  supervisor:
    build:
      context: ./docker/php
    command: ["/usr/bin/supervisord", "-n", "-c", "/etc/supervisor/supervisord.conf"]
    volumes:
      - ./:/var/www/dialog
      - ./docker/php/supervisor:/etc/supervisor
      - ./docker/php/php.ini:/usr/local/etc/php/php.ini
    depends_on:
      - database
      - redis

  nginx:
    image: nginx:stable-alpine
    ports:
      - '8000:80'
    volumes:
      - ./:/var/www/dialog
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
      - ./paas/server.locations:/etc/nginx/server.locations
    depends_on:
      - php
      - database

  redis:
    image: redis:5-alpine
    ports:
      - 6379:6379

  gdal:
    # https://github.com/OSGeo/gdal/tree/master/docker
    image: ghcr.io/osgeo/gdal:alpine-small-3.8.5
    container_name: gdal
    profiles: [gdal]
    init: true # Forward signals such as Ctrl+C, see: https://docs.docker.com/compose/compose-file/05-services/#init
    extra_hosts:
      # Allow accessing host ports from this container via host.docker.internal on Linux
      # https://stackoverflow.com/a/43541732
      - host.docker.internal:host-gateway

  mailer:
    image: schickling/mailcatcher
    ports:
      - 1025:1025
      - 1080:1080

  redis-commander:
    image: rediscommander/redis-commander
    ports:
      - "8081:8081"
    environment:
      - REDIS_HOSTS=local:redis:6379
    depends_on:
      - redis
      - database
