{% extends 'layouts/public.html.twig' %}

{% block title %}
    {{ parent() }} - Carte
{% endblock %}

{% block body %}
    <nav class="fr-accordion" style="position: absolute; z-index: 99; background-color: white;">
	<button
	    class="fr-accordion__btn"
	    aria-controls="fr-accordion-wrapper"
	    aria-expanded="false"
	>{{ 'map.filter.title'|trans }}</button>
	<div class="fr-collapse fr-p-1w" id="fr-accordion-wrapper">
	    {% include 'map/map_filter.html.twig' %}
	</div>
    </nav>
    <dialog-map class=""
		data-height="480px"
		data-geojson="{{ locationsAsGeoJson }}"
		data-pos="[2.725, 47.16]"
		data-zoom="5"
		data-locations-as-geojson-output-id="locations_as_geojson_output"
		data-map-filter-turbo-frame-id="map_filter_turbo_frame"
		data-location-path="{{ path('get_location') }}"
		aria-hidden="true"
    />
{% endblock %}
