.app-regulation-table {
    // Take minimum amount of space on all screen sizes
    .app-regulation-table__identifier {
        width: 25%;
        @media screen and (min-width: 36em) {
            width: 15%;
        }
        @media screen and (min-width: 62em) {
            width: 10%;
        }
    }
}

.app-table__actions {
    width: 20%;
    @media screen and (min-width: 36em) {
        width: 10%;
    }
    @media screen and (min-width: 48em) {
        width: 15%;
    }
}
