.app-vehicle-image {
    position: relative;
    display: grid !important;
    place-content: center;
}

.app-vehicle-image__close {
    position: absolute;
    top: calc(50% - 25px);
    right: calc(50% - 25px);
}

.app-someVehicles__radiogroup > input[type="radio"]:checked + label {
    /* DSFR uses a background-image trick to place borders AND the custom checkbox. */
    /* Copy DSFR default and tweak it to use a grey bottom border. */
    background-image:
        linear-gradient(0deg, var(--background-action-high-blue-france), var(--background-action-high-blue-france)), /* border-top */
        linear-gradient(0deg, var(--background-action-high-blue-france), var(--background-action-high-blue-france)), /* border-right */
        linear-gradient(0deg, var(--border-default-grey), var(--border-default-grey)), /* border-bottom -> We make it grey */
        linear-gradient(0deg, var(--background-action-high-blue-france), var(--background-action-high-blue-france)), /* border-left */
        radial-gradient(transparent 6px, var(--background-action-high-blue-france) 7px, transparent 8px), /* Checkbox contour */
        radial-gradient(var(--background-action-high-blue-france) 3px, transparent 4px); /* Checkbox dot */
}

.app-someVehicles__radiogroup > input[type="radio"]:checked ~ .fr-radio-rich__pictogram {
    /* DSFR uses a background-image trick to place borders. */
    /* We want to use grey left and bottom borders. Drop the default and place actual borders ourselves. */
    background-image: none;
    border-top: 1px solid var(--border-action-high-blue-france);
    border-right: 1px solid var(--border-action-high-blue-france);
    border-bottom: 1px solid var(--border-default-grey);
    border-left: 1px solid var(--border-default-grey);
}

.app-someVehicles__form {
    border: 1px solid var(--border-action-high-blue-france);
    border-top: none;
}
