.fr-background-default--grey {
    background-color: var(--background-default-grey);
}

.fr-background-alt--grey {
    background-color: var(--background-alt-grey);
}

.fr-x-background-alt--blue-france {
    background-color: var(--background-alt-blue-france);
}
