.fr-background-default--grey {
    background-color: var(--background-default-grey);
}

.fr-background-alt--grey {
    background-color: var(--background-alt-grey);
}

.fr-x-background-alt--blue-france {
    background-color: var(--background-alt-blue-france);
}

.fr-x-background-artwork-decorative-blue-france {
    background-color: var(--artwork-decorative-blue-france);
}

.fr-x-background-open-blue-france-active {
    border-radius: 40px;
    background: var(--light-decisions-background-background-open-blue-france-active, #ADADF9);
}
