.fr-x-max-w-32w {
    max-width: calc(32 * 0.5rem);
}

.fr-x-max-w-37w {
    max-width: calc(37 * 0.5rem);
}

.fr-x-max-w-38w {
    max-width: calc(38 * 0.5rem);
}

.fr-x-max-w-156w {
    max-width: calc(156 * 0.5rem);
}

.fr-x-h-full {
    height: 100%;
}
