<turbo-frame id="block_measure">
    <form method="get" action="{{ path('fragment_regulations_measure_add', { uuid: regulationOrderRecordUuid }) }}">
        <button type="submit" class="fr-btn fr-btn--secondary fr-btn--icon-left fr-icon-add-line fr-mt-3w">
            {{ 'regulation.measure.add'|trans }}
        </button>
    </form>
</turbo-frame>
