<turbo-frame id="block_general_info">
    <div class="app-card">
        <div class="app-card__img">
            <span class="fr-icon-article-fill fr-x-icon-decorative--blue-france fr-x-icon--xl" aria-hidden="true"></span>
        </div>
        <div class="app-card__content">
            <h3 class="fr-h4">
                {{ 'regulation.general_info'|trans }}
            </h3>
            {% include 'regulation/fragments/_general_info_form_content.html.twig' with { form, uuid } only %}
        </div>
    </div>
</turbo-frame>
