{% for index, targetId in targetIds %}
    <turbo-stream action="update" target="{{ targetId }}">
        <template>
            {% for namedStreet in namedStreets %}
                <option value="{{ namedStreet.roadBanId }}" {% if namedStreet.roadBanId == currentOptions[index] %}selected{% endif %}>
                    {{ namedStreet.roadName }}
                </option>
            {% endfor %}
        </template>
    </turbo-stream>
{% endfor %}
