<turbo-frame id="block_location">
    <div class="app-card fr-mt-3w">
        <div class="app-card__icon">
            <span class="fr-icon-map-pin-2-fill regulation-detail-icon fr-x-icon-decorative--blue-france fr-x-icon--xl" aria-hidden="true"></span>
        </div>

        <div class="app-card__content">
            {% include 'regulation/fragments/_location_form_content.html.twig' with { form, uuid } only %}
        </div>
    </div>
</turbo-frame>
