{% if canDelete %}
    {% set deleteCsrfToken = csrf_token('delete-location') %}
    {% for locationUuid in preExistingLocationUuids %}
        <turbo-stream action="replace" target="location_{{ locationUuid }}_delete_button">
            <template>
                <li id="location_{{ locationUuid }}_delete_button">
                    {% include 'regulation/fragments/_location_delete_form.html.twig' with { uuid: locationUuid, regulationOrderRecordUuid , deleteCsrfToken } only %}
                </li>
            </template>
        </turbo-stream>
    {% endfor %}
{% endif %}

<turbo-stream action="append" target="location_list">
    <template>
        <li>
            {% include 'regulation/fragments/_location.html.twig' with { location, generalInformation, canDelete } only %}
        </li>
    </template>
</turbo-stream>

<turbo-stream action="replace" target="block_location">
    <template>
        {% include 'regulation/fragments/_add_location_link.html.twig' with { regulationOrderRecordUuid } only %}
    </template>
</turbo-frame>

<turbo-stream action="replace" target="block_export">
    <template>
        {% include 'regulation/fragments/_export_section.html.twig' with { regulationOrderRecordUuid } only %}
    </template>
</turbo-frame>

<turbo-stream action="update" target="block_publication">
    <template>
        {% include 'regulation/fragments/_publication_button.html.twig' with { canPublish: true, uuid: regulationOrderRecordUuid } only %}
    </template>
</turbo-frame>
