<turbo-stream action="append" target="measure_list">
    <template>
        <li>
            {% include 'regulation/fragments/_measure.html.twig' with { measure, generalInfo, canDelete, isReadOnly: false } only %}
        </li>
    </template>
</turbo-stream>
