{% if canDelete %}
    {% set deleteCsrfToken = csrf_token('delete-measure') %}
    {% for measureUuid in preExistingMeasureUuids %}
        <turbo-stream action="replace" target="measure_{{ measureUuid }}_delete_button">
            <template>
                <li id="measure_{{ measureUuid }}_delete_button">
                    {% include 'regulation/fragments/_measure_delete_form.html.twig' with { uuid: measureUuid, regulationOrderRecordUuid , deleteCsrfToken } only %}
                </li>
            </template>
        </turbo-stream>
    {% endfor %}
{% endif %}

<turbo-stream action="append" target="measure_list">
    <template>
        <li>
            {% include 'regulation/fragments/_measure.html.twig' with { measure, generalInfo, canDelete } only %}
        </li>
    </template>
</turbo-stream>

<turbo-stream action="replace" target="block_measure">
    <template>
        {% include 'regulation/fragments/_add_measure_link.html.twig' with { regulationOrderRecordUuid } only %}
    </template>
</turbo-frame>

<turbo-stream action="replace" target="block_export">
    <template>
        {% include 'regulation/fragments/_export_section.html.twig' with { regulationOrderRecordUuid } only %}
    </template>
</turbo-frame>

<turbo-stream action="update" target="block_publication">
    <template>
        {% include 'regulation/fragments/_publication_button.html.twig' with { canPublish: true, uuid: regulationOrderRecordUuid } only %}
    </template>
</turbo-frame>
