<turbo-stream action="append" target="measure_list">
    <template>
        <li id="block_measure_{{ uuid }}">
            {% include 'regulation/fragments/_measure.html.twig' with { measure} only %}</li>
    </template>
</turbo-stream>
