<turbo-stream action="update" target="measure_notifications">
    <template>
        <div class="fr-alert fr-alert--error fr-alert--sm fr-mb-2w" role="alert" data-test-flash-type="error" data-controller="viewport" data-viewport-target="scroll" style="background-color: var(--background-default-grey);">
            <p>{{ message }}</p>
        </div>
    </template>
</turbo-stream>
