{% for result in results %}
    <li role="option" data-autocomplete-value="{{ result.value }}">
        {{ result.pointNumber }} ({{ result.departmentCode }})
    </li>
{% endfor %}

<template id="status">
    {{ 'common.autocomplete.results_count'|trans({ '%count%': results|length }) }}
</template>
