{% for departmentalRoadsNumber in departmentalRoadsNumbers %}
	<li class="list-group-item" role="option" data-autocomplete-value="{{ departmentalRoadsNumber.geometry }}">{{ departmentalRoadsNumber.numero }}</li>
{% endfor %}
