.app-card {
    padding: 1.5rem;
    background-color: var(--background-raised-grey);
    border: 1px solid var(--border-default-grey);
    display: grid;
    grid-template-areas: "header"
                         "content"
                         "actions";
    column-gap: 1.5rem;
    row-gap: 1rem;

    @media screen and (min-width: 992px) {
        grid-template-areas:
            "header actions"
            "content content";
        grid-template-rows: auto auto;
        grid-template-columns: 1fr auto;
    }
}

.app-card--with-background {
    padding: 0;
    column-gap: 0;
}

.app-card--with-background .app-card__header {
    background: var(--alt-blue-france);
    padding: 1.5rem;
}

.app-card--with-background ul {
    @media screen and (min-width: 992px) {
        margin-left: 4rem;
    }
}

.app-card--content-only {
    grid-template-areas: "content";

    @media screen and (min-width: 992px) {
        grid-template-areas: "content";
        grid-template-rows: auto;
        grid-template-columns: 1fr;
    }
}

.app-card--no-header {
    grid-template-areas: "content"
                         "actions";

    @media screen and (min-width: 992px) {
        grid-template-areas: "content actions";
        grid-template-rows: auto;
    }
}

li.app-card + li.app-card {
    border-top: none;
}

.app-card--raised {
    filter: drop-shadow(var(--raised-shadow));
    z-index: calc(var(--ground) + 500);
    border: none;
}

.app-card__header {
    grid-area: header;
    display: flex;
    align-items: center;
    column-gap: 1rem;
}
.app-card__img {
    flex: 0;
}
.app-card__title {
    flex: 1;
}
.app-card__content {
    grid-area: content;
    flex: 1;
}
.app-card__actions {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    column-gap: 1rem;
    grid-area: actions;
    height: fit-content;
}
