.app-landing-map {
    position: relative;
    width: 100%;
    height: auto;
    /* Add overlay on top to adjust opacity */
    --bg-overlay: rgba(255, 255, 255, 0.4);
    background-image: linear-gradient(var(--bg-overlay), var(--bg-overlay)), url('../../../public/images/landing/illustration-map.webp');
    background-size: cover;
    padding: calc(8 * var(--1w)) 0;
}

.app-landing-map-card {
    background-color: #FFFFFF;
    max-width: 624px;
    padding: calc(4 * var(--1w));
}

[class*="app-landing-distribute-"] {
    display: flex;
    gap: calc(4 * var(--1w));
}

[class*="app-landing-distribute-"] img {
    display: block;
    background-color: var(--background-open-blue-france-active);
    /* Valeurs différentes de la maquette pour s'adapter à l'ombre incluse dans les images */
    border-radius: 32px;
    padding: 12px 12px 6px 12px;
}

.app-landing-hr {
    max-width: 160px;
    margin-top: calc(4 * var(--1w));
    margin-bottom: calc(2 * var(--1w));
}

.app-landing-jumbotron {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: calc(4 * var(--1w));
}

.app-landing-jumbotron > :first-child {
    flex-basis: 0;
    flex-grow: 1;
    min-width: 280px;
    max-width: 844px;
}

.app-landing-details-input {
    display: flex;
    flex-wrap: wrap;
    gap: calc(4 * var(--1w));
}

.app-landing-details-input > :first-child {
    flex-basis: 0;
    flex-grow: 999;
    min-width: 280px;
    max-width: 700px;
}

.app-landing-details-input > :last-child {
    flex-basis: 0;
    flex-grow: 1;
    margin-inline: auto;
}

.app-landing-details-input img {
    max-width: min(100%, 475px);
}

.app-landing-details-input-steplist {
    counter-reset: li-steps;
    padding: 0;
    padding-inline-start: 5rem;
}

.app-landing-details-input-steplist > li {
    position: relative;
}

.app-landing-details-input-steplist > li + li {
    margin-block-start: 2rem;
}

.app-landing-details-input-steplist > li::marker {
    content: none;
}

.app-landing-details-input-steplist > li::before {
    counter-increment: li-steps;
    content: counter(li-steps) '.';
    position: absolute;
    top: calc(50% - 1rem);
    right: calc(100% + 1rem);
    font-size: 3.5rem;
    font-weight: 700;
    color: var(--artwork-minor-blue-france);
}

.app-landing-details-integration-stepcard {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.app-landing-details-integration-stepcard > :first-child {
    padding: calc(4 * var(--1w));
    background-color: var(--background-alt-blue-france);
    margin-inline: auto;
}

.app-landing-details-integration-stepcard > :last-child {
    padding: calc(4 * var(--1w));
    min-width: 280px;
    flex-basis: 0;
    flex-grow: 1;
}

.app-landing-details-moretiles {
    display: flex;
    flex-wrap: wrap;
    gap: calc(4 * var(--1w));
}

.app-landing-details-moretiles > * {
    max-width: 384px;
}
