/* Icônes de filtres de la carte */
.map-filter-label {
    gap: 0.5rem;
}

#measureTypes.fr-fieldset {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.map-filter-label::after {
    content: '●';
    font-size: 2rem;
    line-height: 1;
    margin-left: 0.25rem;
}

.map-filter-label--alternateRoad::after {
    color: #6A6AF4;
}

.map-filter-label--noEntry::after {
    color: #CE0500;
}

.map-filter-label--speedLimitation::after {
    color: #f6c43c;
}

.map-filter-label--parkingProhibited::after {
    color: #000000;
}
