@import url('../../node_modules/@gouvfr/dsfr/dist/dsfr.min.css');
@import url('../../node_modules/@gouvfr/dsfr/dist/utility/icons/icons-design/icons-design.min.css');
@import url('../../node_modules/@gouvfr/dsfr/dist/utility/icons/icons-system/icons-system.min.css');
@import url('../../node_modules/@gouvfr/dsfr/dist/utility/icons/icons-user/icons-user.min.css');
@import url('../../node_modules/@gouvfr/dsfr/dist/utility/icons/icons-business/icons-business.min.css');
@import url('../../node_modules/@gouvfr/dsfr/dist/utility/icons/icons-map/icons-map.min.css');
@import url('../../node_modules/remixicon/fonts/remixicon.css');

/* label.required is set by Symfony for form types with 'required => true' */
label.required > .fr-x-label-content::after {
    content: ' *';
}

:root {
    --x-icon-decorative-blue-france: #CACAFB;
}

.fr-background-alt--grey {
    background-color: var(--background-alt-grey);
}

.fr-x-icon-decorative--blue-france::before {
    background-color: var(--x-icon-decorative-blue-france);
}

.fr-x-icon--xl::before {
    --icon-size: 2.75rem;
}

.fr-x-text--right {
    text-align: right;
}

.fr-x-text--center {
  text-align: center;
}

.remixicons {
    font-size: 1.5rem !important; // Override to have the same size as the DSFR. Don't work without !important
}

.landing-jumbotron__illustration {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.fr-title--blue-france {
    color: var(--blue-france-sun-113-625);
}

.fr-background-alt--blue-france {
    background-color: var(--blue-france-975-75);
}

.summary-card {
    column-gap: 1.5rem;
    padding: 1.5rem;
}

.summary-card__img {
    order: 0;
}

.summary-card__content {
    order: 1;
    flex: 1;
}

.summary-card__title {
    font-size: inherit;
    margin: 0;
}

.summary-card__action {
    order: 2;
}

.fr-x-autocomplete-wrapper {
    position: relative;

    ul[role="listbox"] {
        border: 1px solid var(--background-contrast-grey-active);
        list-style-type: none;
        margin: 0;
        max-height: 220px;
        overflow-y: auto;
        padding: 0;
        top: 100%;
        width: 100%;
        z-index: 3;
        position: absolute;

        li[role="option"] {
            border-bottom: 1px solid var(--background-contrast-grey-active);
            padding: 10px;
            cursor: pointer;
            background: var(--background-default-grey);
        }

        li[role="option"]:hover, li[role="option"].active {
            background-color: var(--background-contrast-grey);
        }
    }
}
