@import url('maplibre-gl/dist/maplibre-gl.css');

html, body {
    height: 100%;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

main {
    flex: auto;
}

#content {
    height: 100%;
}

.maplibregl-map {
    // By default MaplibreJS uses Helvetica
    font: inherit;
}

.d-map-popup .maplibregl-popup-content {
    padding: var(--2w);
}
