:root {
    --x-icon-decorative-blue-france: #CACAFB;
    --x-icon-primary: #B2B2F9;
    --x-icon-dark-border: #8585F6;
    --alt-blue-france: #F5F5FE;
    --x-grey: #EEEEEE;
    --1w: 8px;
    --2w: 16px;
    --6w: 48px;
}
