<div class="fr-connect-group">
    <a href="{{ path('pro_connect_start') }}" class="fr-connect">
        <span class="fr-connect__login">{{ 'login.proconnect.auth'|trans }}</span>
        <span class="fr-connect__brand">ProConnect</span>
    </a>
    <p>
        <a href="https://www.proconnect.gouv.fr/" target="_blank"  rel="noopener" title="Qu’est-ce que FranceConnect ? - nouvelle fenêtre">Qu’est-ce que FranceConnect ?</a>
    </p>
</div>
