@media screen and (min-width: 48em) {
    .fr-x-md-stack > * + * {
        padding-block-start: var(--stack-spacing, 1.5rem);
    }
}

.d-stack > * {
    margin-bottom: 0;
}

.d-stack > * + * {
    margin-top: var(--stack-gap, var(--2w));
}
