{% extends 'base.html.twig' %}

{% block title %}
    Accessibilité : non conforme - {{ parent() }}
{% endblock %}

{% block body %}
    <div class="fr-container fr-mt-3w">
        <h1>Accessibilité</h1>

        <h2>Qu'est-ce que l'accessibilité numérique ?</h2>

        <p>
            Un site web accessible suit un ensemble de règles et de bonnes pratiques pour
            s'assurer qu'il puisse être utilisé sans difficulté par les personnes en situation de handicap.
        </p>

        <h2>Démarche d'accessibilité</h2>

        <p>
            Le site <a href="{{ path('app_landing') }}">DiaLog</a> n'a pas fait l'objet d'un audit RGAA 4.1. Il est donc impossible
            en l'état d'en évaluer la conformité avec le référentiel. Par défaut, le site est donc considéré comme <strong>non conforme</strong>.
        </p>

        <p>
            Il a cependant été conçu pour être accessible au plus grand nombre. Pour cela, nous avons veillé à :
        </p>

        <ul>
            <li>produire un code source HTML valide ;</li>
            <li>structurer chaque page avec titres et sémantique ;</li>
            <li>faire en sorte que la navigation au clavier soit fonctionnelle et visible ;</li>
            <li>respecter les règles de contraste pour que le site soit lisibile.</li>
        </ul>

        <p>Vous devriez donc pouvoir, par exemple :</p>

        <ul>
            <li>Changer les couleurs, les niveaux de contraste et les polices de caractères via le navigateur ou le système d'exploitation ;</li>
            <li>Naviguer sur le site site sans utiliser la souris, par exemple avec le clavier ou via un écran tactile.</li>
        </ul>

        <h3>Défauts d'accessibilité</h3>

        <p>
            Nous ne pouvons pas garantir l'accessibilité des pages ou portions de pages suivantes :
        </p>

        <ul>
            <li>Liste des arrêtés avec lecteur d'écran.</li>
        </ul>

        <hr class="fr-mt-5w" />

        <h2>Déclaration de conformité RGAA</h2>
        <p>Établie le <span>24 avril 2023</span>.</p>
        <p>
            Le <span>Ministère de la Transition écologique et de la Cohésion des territoires</span>
            s'engage à rendre son service accessible, conformément à l'article 47 de la
            loi n° 2005-102 du 11 février 2005.
        </p>
        <p>
            Cette déclaration d'accessibilité s'applique à <strong>DiaLog</strong><span>
                (<span>https://dialog.beta.gouv.fr</span>)</span>.
        </p>
        <h3>État de conformité</h3>
        <p>
            <strong>DiaLog</strong> est
            <strong><span data-printfilter="lowercase">non conforme</span></strong> avec
            le
            <abbr title="Référentiel général d'amélioration de l'accessibilité">RGAA</abbr>.
            <span>Le site n'a encore pas été audité.</span>
        </p>
        <h3>Amélioration et contact</h3>
        <p>
            Si vous n'arrivez pas à accéder à un contenu ou à un service, vous pouvez
            contacter le responsable de <span>DiaLog</span> pour être orienté vers une
            alternative accessible ou obtenir le contenu sous une autre forme.
        </p>
        <ul class="basic-information feedback h-card">
            <li>
                E-mail&nbsp;: <a href="mailto:dialog@beta.gouv.fr">dialog@beta.gouv.fr</a>
            </li>
        </ul>
        <h3>Voie de recours</h3>
        <p>
            Cette procédure est à utiliser dans le cas suivant&nbsp;: vous avez signalé au
            responsable du site internet un défaut d'accessibilité qui vous empêche
            d'accéder à un contenu ou à un des services du portail et vous n'avez pas
            obtenu de réponse satisfaisante.
        </p>
        <p>Vous pouvez&nbsp;:</p>
        <ul>
            <li>
                Écrire un message au
                <a href="https://formulaire.defenseurdesdroits.fr/">Défenseur des droits</a>
            </li>
            <li>
                Contacter
                <a href="https://www.defenseurdesdroits.fr/saisir/delegues">le délégué du Défenseur des droits dans votre
                    région</a>
            </li>
            <li>
                Envoyer un courrier par la poste (gratuit, ne pas mettre de
                timbre)&nbsp;:<br />
                Défenseur des droits<br />
                Libre réponse 71120 75342 Paris CEDEX 07
            </li>
        </ul>
        <hr />
        <p>
            Cette déclaration d'accessibilité a été créé le
            <span>24 avril 2023</span> grâce au
            <a href="https://betagouv.github.io/a11y-generateur-declaration/#create">Générateur de Déclaration d'Accessibilité
                de BetaGouv</a>.
        </p>
    </div>
{% endblock %}
