{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="fr-heading-2">{{ 'regulation.add.title'|trans }}</h1>

    {{ include('add/form.html.twig', {form: form}, with_context = false) }}

    <a href="{{ path('app_regulations_list') }}">
        {{ "common.cancel"|trans }}
    </a>
{% endblock %}
