<!doctype html>
<html lang="fr" data-fr-scheme="system">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ asset('build/dsfr/dsfr.min.css') }}"/>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    <title>{% block title %}{{ 'common.title'|trans }}{% endblock %}</title>

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
  </head>
  <body>
    {% include 'common/header.html.twig' %}
    <main id="contenu">
        <section class="banner fr-py-5w fr-md-8w">
            <div class="fr-container">
                {% block body %}{% endblock %}
            </div>
        </section>
    </main>
    {% include 'common/footer.html.twig' %}
  </body>
</html>
