{% extends 'layouts/layout.html.twig' %}

{% set title = 'common.cgu'|trans %}

{% block title %}
    {{ title }} - {{ parent() }}
{% endblock %}

{% set definesContentSkiplink = true %}

{% block body %}
    <div class="fr-container fr-py-2w fr-py-md-5w">
        {% include "common/breadcrumb.html.twig" with { items: [
            { title: 'home.breadcrumb'|trans, path: 'app_landing'},
            { title },
        ]} %}

        <div id="content">
            {% apply markdown_to_html %}
            # {{ title }}

            En vigueur à partir du 10/11/2025

            ## Article 1 - Champ d’application

            Les présentes conditions générales d’utilisation (ci-après “CGU”) précisent le cadre juridique de “DiaLog” (ci-après la “Plateforme”) et définissent les conditions d’accès et d’utilisation des Services par l’Utilisateur.

            ## Article 2 - Objet de la Plateforme

            La Plateforme est un produit numérique qui permet aux administrations de diffuser leur réglementation de circulation et de stationnement, en saisissant directement leurs arrêtés par le biais de formulaires ou en intégrant des données depuis leurs outils métier, le cas échéant.

            ## Article 3 - Définitions

            “L’Éditeur” est la personne morale qui met à la disposition du public la Plateforme, à savoir la Direction générale des infrastructures, des transports et des mobilités (DGITM).</br>
            La “Plateforme” est le produit numérique qui permet la gestion et la diffusion des réglementations de circulation et de stationnement par les administrations.</br>
            Les “Services” sont les fonctionnalités offertes par la Plateforme pour répondre à ses finalités.</br>
            “L’Utilisateur” est toute personne physique, membre habilité à saisir les arrêtés de circulation et de stationnement de la collectivité dont il dépend, qui s’inscrit sur la Plateforme.

            ## Article 4 - Fonctionnalités de la Plateforme

            Toute personne qui consulte la Plateforme, sans s’y inscrire, peut :
            - Consulter la carte des restrictions et la liste des arrêtés ;
            - Prendre connaissance du centre d’aide et du blog de la Plateforme ;
            - Contacter l’équipe de la Plateforme.

            4.1 Création de compte et connexion sur la Plateforme

            Pour se créer un compte, la personne peut soit s’identifier via ProConnect soit renseigner ses informations : nom, prénom, adresse courriel, numéro SIRET de son organisation, mot de passe.
            La connexion s’effectue soit par le biais de ProConnect soit en indiquant son adresse courriel et son mot de passe.
            Le premier Utilisateur d’une organisation est administrateur et peut inviter les agents de sa structure sur la Plateforme.

            4.2 Création des arrêtés

            L’Utilisateur peut créer des arrêtés de circulation portant sur une interdiction de circulation ou une limitation de vitesse. Les arrêtés peuvent être temporaires ou permanents. 
            Lorsque l’arrêté est publié, les informations sont disponibles en Open Data. 
            Dans le cas où la collectivité utilise une solution de gestion des arrêtés, la Plateforme permet d’intégrer directement les données depuis ces solutions par API.

            ## Article 5 - Responsabilités

            Nous pouvons faire évoluer [dialog.beta.gouv.fr](https://dialog.beta.gouv.fr) sans information préalable ou préavis. Nous ajoutons régulièrement des données, retravaillons l’interface et modifions les formulations sur la base de vos retours et des évolutions réglementaires et législatives.

            5.1 Responsabilités de l’Éditeur

            Les sources des informations diffusées sur la Plateforme sont réputées fiables mais elle ne garantit pas être exempte de défauts, d’erreurs ou d’omissions.</br>

            L’Éditeur s’engage à la sécurisation de la Plateforme, notamment en prenant toutes les mesures nécessaires permettant de garantir la sécurité et la confidentialité des informations fournies. Les règles relatives au mot de passe renseigné par tout Utilisateur lors de son inscription sont conformes aux recommandations de l’ANSSI et de la CNIL.</br>

            L’Éditeur fournit les moyens nécessaires et raisonnables pour assurer un accès continu à la Plateforme. Il se réserve la liberté de faire évoluer, de modifier ou de suspendre, sans préavis, la Plateforme pour des raisons de maintenance ou pour tout autre motif jugé nécessaire.</br>

            L’Éditeur ne réalise pas de contrôle à priori. En cas de manquement à une ou plusieurs des stipulations des présentes CGU, l’Éditeur se réserve le droit de suspendre ou de supprimer le compte de l'Utilisateur responsable et les contenus diffusés.

            5.2 Responsabilités de l’Utilisateur

            L’Utilisateur s’assure de garder son mot de passe secret. Toute divulgation du mot de passe, quelle que soit sa forme, est interdite. Il assume les risques liés à l’utilisation de son adresse électronique et de son mot de passe.</br>

            En créant un compte sur la Plateforme, l’Utilisateur certifie qu’il est en mesure d’engager la personne morale dont il dépend lorsqu’il s’inscrit, renseigne le SIRET et saisit des arrêtés. L’Utilisateur est seul responsable de tout contenu qu’il dépose sur la Plateforme et des membres qu’il invite sur la Plateforme lorsqu’il est administrateur. Il s’assure d’inviter les seuls membres habilités de sa structure.</br>

            Il est rappelé que toute personne procédant à une fausse déclaration pour elle-même ou pour autrui s’expose notamment aux sanctions prévues à l’article 441-1 du code pénal.</br>

            L’Utilisateur s’engage à ne pas mettre en ligne de contenus ou informations contraires à la législation et réglementation applicables. Il veille notamment à ne pas communiquer de données sensibles ou des secrets protégés par la loi, et à ne pas publier de contenus illicites notamment dans les zones de champs libres.

            ## Article 6 - Mise à jour des conditions générales d’utilisation

            Les termes des présentes CGU peuvent être amendés à tout moment, en fonction des modifications apportées à la Plateforme, de l’évolution de la législation ou pour tout autre motif jugé nécessaire. Chaque modification donne lieu à une nouvelle version qui est acceptée par les parties.
            {% endapply %}
        </div>
    </div>
{% endblock body %}
