{% extends 'base.html.twig' %}

{% block body %}
    <h3>{{ 'landing.title'|trans }}</h3>
    <p>{{ 'landing.description'|trans }}</p>
    <a href="{{ path('app_regulations_list') }}">{{ 'landing.link'|trans }}</a>
{% endblock %}
