{% extends 'base.html.twig' %}

{% block body %}
	<h1>{% trans %}home.title{% endtrans %}</h1>
	<h2>{% trans %}home.subtitle{% endtrans %}</h2>

	<h3>Réglementations</h3>

	<ul>
		{%- for obj in objects %}
		<li>
			{{ obj.description }}
		</li>
		{%- endfor %}
	</ul>

	<p>
		<em>À venir...</em>
	</p>

	<h3>Ajouter une réglementation</h3>

	{{ form(form) }}
{% endblock %}
