{% extends 'layouts/layout.html.twig' %}

{% set title = 'legal.title'|trans %}

{% block title %}
    {{ title }} - {{ parent() }}
{% endblock %}

{% set definesContentSkiplink = true %}

{% block body %}
    <div class="fr-container fr-py-2w fr-py-md-5w">
        {% include "common/breadcrumb.html.twig" with { items: [
            { title: 'home.breadcrumb'|trans, path: 'app_landing'},
            { title },
        ]} %}

        <div id="content">
            {% apply markdown_to_html %}
            # {{ title }}

            ## Édition

            Ce site est édité par la [Direction générale des infrastructures, des transports et des mobilités (DGITM)](https://www.ecologie.gouv.fr/direction-generale-des-infrastructures-des-transports-et-des-mobilites-dgitm), domiciliée dans la tour Séquoia au 1 place Carpeaux 92800 Puteaux.

            Téléphone : 01 40 81 16 30

            Le directeur de la publication du site est son directeur général Rodolphe Gintz.

            ## Réalisation

            [DiaLog](https://beta.gouv.fr/startups/dialogue.html) est un service numérique développé par la Fabrique numérique de l'écologie, incubateur [beta.gouv.fr](https://beta.gouv.fr/) du [ministère de la Transition écologique et de la Cohésion des territoires](https://www.ecologie.gouv.fr/) (MTE-MCT).

            [Son code source](https://github.com/MTES-MCT/dialog/) est distribué sous licence libre [AGPLv3](https://www.gnu.org/licenses/agpl-3.0.fr.html).

            [Nous vous invitons à signaler tout problème que vous rencontrerez](https://github.com/MTES-MCT/dialog/issues/new/choose).

            Pour toute autre demande, vous pouvez contacter l'équipe [par email](mailto:dialog@beta.gouv.fr).

            ## Hébergement

            Ce site est hébergé en France par l'entreprise Scalingo, située 13 rue Jacques Peirotes 67000 Strasbourg.

            support@scalingo.com

            ## Crédits

            Les pictogrammes sont issus du [système de design de l'Etat](https://www.systeme-de-design.gouv.fr/elements-d-interface/fondamentaux-techniques/pictogramme) publié sous licence [MIT](https://opensource.org/license/mit/).

            Les icones sont issues :
            * du [système de design de l'Etat](https://www.systeme-de-design.gouv.fr/elements-d-interface/fondamentaux-techniques/icone) publié sous licence [MIT](https://opensource.org/license/mit/),
            * de [Remix Icon](https://remixicon.com/) publié sous licence [Apache 2.0](https://www.apache.org/licenses/LICENSE-2.0).

            Les illustrations sont issues de [Storyset](https://storyset.com/) et utilisées dans le respect des [conditions contractuelles](https://storyset.com/terms).
            {% endapply %}
        </div>
    </div>
{% endblock body %}
