{% extends 'layouts/public.html.twig' %}

{% block title %}
    {{ parent() }}
{% endblock %}

{% block body %}
<nav class="map-overlay top">
  <turbo-frame id="regulations_as_geojson_turbo_frame">
    {% include '_regulations_as_geojson.html.twig' %}
  </turbo-frame>
</nav>
<dialog-map class="fr-py-2w"
            data-height="480px"
	    data-geojson="{{ regulationOrdersAsGeoJson|json_encode }}"
	    data-bbox="{{ regulationOrdersBbox|json_encode }}"
            data-pos="[2.725, 47.16]"
            data-zoom="5"
	    data-regulations-as-geojson-output-id="regulations_as_geojson_output"
	    data-regulations-as-geojson-turbo-frame-id="regulations_as_geojson_turbo_frame"
	    data-regulation-location-path="{{ path('get_regulation_location') }}"
            aria-hidden="true"
            />
{% endblock %}
