{% extends 'layouts/public.html.twig' %}

{% block title %}
    {{ parent() }}
{% endblock %}

{% block body %}
<nav class="map-overlay top">
  {% include '_map_filter.html.twig' %}
</nav>
<dialog-map class="fr-py-2w"
            data-height="480px"
	    data-geojson="{{ locationsAsGeoJson|json_encode }}"
	    data-bbox="{{ locationsBbox|json_encode }}"
            data-pos="[2.725, 47.16]"
            data-zoom="5"
	    data-locations-as-geojson-output-id="locations_as_geojson_output"
	    data-map-filter-turbo-frame-id="map_filter_turbo_frame"
	    data-location-path="{{ path('get_location') }}"
            aria-hidden="true"
            />
{% endblock %}
