{% extends 'layouts/layout.html.twig' %}

{% set title = 'Politique de confidentialité'|trans %}

{% block title %}
    {{ title }} - {{ parent() }}
{% endblock %}

{% set definesContentSkiplink = true %}

{% block body %}
    <div class="fr-container fr-py-2w fr-py-md-5w">
        {% include "common/breadcrumb.html.twig" with { items: [
            { title: 'home.breadcrumb'|trans, path: 'app_landing'},
            { title },
        ]} %}

        <div id="content">
            {% apply markdown_to_html %}
            # {{ title }}


            ## Qui sommes-nous ?

            DiaLog est un produit numérique qui permet aux administrations de diffuser leur réglementation de circulation et de stationnement, en saisissant directement leurs arrêtés par le biais de formulaires ou en intégrant des données depuis leurs outils métier le cas échéant.

            DiaLog est sous la responsabilité de la Direction générale des infrastructures, des transports et des mobilités (DGITM). Les informations de contact de la DGITM sont accessibles [ici](https://dialog.beta.gouv.fr/mentions-legales)


            ## Pourquoi traitons-nous des données à caractère personnel ? 

            - Gérer les inscriptions et les connexions des agents publics à leurs comptes utilisateurs sur DiaLog ;
            - Gérer les demandes de contact par courriel ;
            - Assurer la traçabilité des actions des utilisateurs.


            ## Quelles sont les données à caractère personnel collectées ? 

            - <b>Données relatives au compte utilisateur</b> : nom, prénom, adresse courriel ;
            - <b>Données relatives aux demandes de contact</b> : adresse courriel, champs libres ;
            - <b>Données relatives à la traçabilité</b> : logs et adresse IP.


            ## Qu’est-ce qui nous autorise à traiter vos données à caractère personnel ?

            DiaLog traite des données à caractère personnel sur le fondement de la mission d’intérêt public de la DGITM au sens de l’article 6-1 e) du RGPD.<br/>
            Cette mission d’intérêt public se traduit en pratique par l’article 5 du décret n° 2008-680 du 9 juillet 2008 portant organisation de l’administration centrale des ministères chargés de la transition écologique, de la cohésion des territoires et de la mer.


            ## Pendant combien de temps conservons-nous vos données ? 

            - Données relatives au compte utilisateur => 3 ans à partir de la dernière connexion 
            - Données relatives aux demandes de contact => 1 an à partir du dernier contact
            - Données relatives à la traçabilité => 1 an, conformément à la LCEN


            ## Quels sont vos droits ?

            Vous disposez : 

            - D’un droit d’information et d’accès à vos données ;
            - D’un droit de rectification ;
            - D’un droit d’opposition ;
            - D’un droit à la limitation du traitement de vos données. 

            Pour exercer vos droits, vous pouvez nous contacter : dialog@beta.gouv.fr
            
            Ou contacter le délégué à la protection des données : dpd.daj.sg@developpement-durable.gouv.fr
            
            Par voie postale : 
            
            ministère de la Transition Écologique
            Direction générale des infrastructures, des transports et des mobilités 
            Tour Séquoia, 1 place Carpeaux 92055 La Défense Cedex
            
            Nous nous engageons à répondre à votre demande dans un délai raisonnable qui ne saurait excéder un mois à compter de la réception de votre demande.
            
            Si vous estimez que vos droits ne sont pas respectés, vous pouvez à tout moment adresser une réclamation à la CNIL.

            ## Qui peut avoir accès à vos données ?

            Seuls les membres habilités de l’équipe DiaLog ont accès aux données dans le cadre de leurs missions.


            ## Qui nous aide à traiter vos données ?

            Certaines données sont transmises à des “sous-traitants” qui agissent pour le compte de la DGITM, selon ses instructions.</br>

            - Scalingo :
            Hébergement des données en France
            [Garanties](https://scalingo.com/fr/contrat-gestion-traitements-donnees-personnelles)
            - Brevo :
            Gestion de la lettre d’information en France
            [Garanties](https://www.brevo.com/fr/legal/termsofuse/#accord-sur-le-traitement-des-donnees-a-caractere-personnel-dpa)
            - Tally :
            Gestion des formulaires en Belgique
            [Garanties](https://tally.so/help/data-processing-agreement)


            ## Cookies et traceurs

            Un témoin de connexion (cookie) ou traceur est un fichier déposé sur votre terminal lors de la visite d’un site. Il a pour but de collecter des informations relatives à votre navigation et de vous adresser des services adaptés à votre terminal. 

            Sur DiaLog, l’outil de mesure d’audience Matomo est utilisé, configuré en mode “exempté” et ne nécessitant pas le recueil de votre consentement conformément aux recommandations de la CNIL.
            {% endapply %}
        </div>
    </div>
{% endblock body %}
