.remixicons {
    font-size: 1.5rem !important; // Override to have the same size as the DSFR. Does not work without !important
}

.fr-x-icon-decorative--blue-france::before {
    background-color: var(--x-icon-decorative-blue-france);
}

.fr-x-icon--primary::before {
    background-color: var(--x-icon-primary);
}

.fr-x-icon--dark-border::before {
    background-color: var(--x-icon-dark-border);

}

.fr-x-icon--xl::before {
    --icon-size: 2.75rem;
}

@each $extraIcon in (
    'commercial',
    'emergency-services',
    'bicycle',
    'pedestrians',
    'critair',
    'heavy-goods-vehicle',
    'taxi',
    'hazardous-materials',
    'car-sharing',
    'dimensions',
    'restriction',
    'check',
    'road-maintenance-or-construction',
    'parking-box-line',
    'file-copy-line',
) {
    .fr-icon-x-#{$extraIcon}::before {
        mask-image: url('../../../../public/images/icons/#{$extraIcon}.svg');
        -webkit-mask-image: url('../../../../public/images/icons/#{$extraIcon}.svg');
    }
}
